---
import Layout from "../layouts/Layout.astro";
import Input from "../components/Input.astro";
---

<Layout title="{{.ProjectName}}">
	<main>
		<h1>Welcome to <span class="text-gradient">Astro</span></h1>
		<Input
			href="https://docs.astro.build/"
			title="Documentation"
			body="Learn how Astro works and explore the official API docs."
		/>
	</main>
</Layout>

<style>
	.text-gradient {
		background-image: var(--accent-gradient);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-size: 400%;
		background-position: 0%;
	}
</style>
