---
import Layout from "../layouts/Layout.astro";
import Logo from "../components/Logo.astro";
import Greet from "../components/Greet.astro";
---
<Layout title="{{.ProjectName}}">
	<main>
		<h1>Wails + Astro (TypeScript) in {{.ProjectName}}</h1>
		<section>
			<Logo
				href="https://docs.astro.build/"
				title="Astro Logo"
				image="/images/astro-logo.png"
			/>
			<Logo
				href="https://wails.io/"
				title="Wails Logo"
				image="/images/wails-logo.png"
			/>
		</section>
		<Greet />
	</main>
</Layout>

<style>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	section {
		padding: 5rem;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 3rem;
	}
</style>
